p {
    font-family: sans-serif;
}

#color_1B8B99 {
    color: #1B8B99;
    font-size: 40px;
}

#color_4B0082{
    color: #4B0082;
    font-size: 23px;
}

#color_F06292{
    color: #F06292;
    font-size: 23px;
}

#color_D50000 {
    color: #D50000;
    font-size: 14px;
}
#color_00ced1{
color:#00ced1
font-size: 14px;
}
#color_FF1744 {
    color: #FF1744;
    font-size: 29px;
}

#color_4DD0E1 {
    color: #4DD0E1;
    font-size: 19px;
}

#color_303F9F {
    color: #303F9F;
    font-size: 14px;
}

#color_1DE9B6 {
    color: #1DE9B6;
    font-size: 15px;
}

#color_E91E63 {
    color: #E91E63;
    font-size: 24px;
}

#color_4286F4 {
    color: #4286F4;
    font-size: 18px;
}

#color_00E5FF {
    color: #00E5FF;
    font-size: 17px;
}

#color_D500F9 {
    color: #D500F9;
    font-size: 32px;
}

#color_9D854C {
    color: #9D854C;
    font-size: 30px;
}

#color_37474F {
    color: #37474F;
    font-size: 48px;
}

#color_A0CC00 {
    color: #A0CC00;
    font-size: 40px;
}

#color_F44336 {
	color: #F44336;
	font-size: 15px;
}

#color_424242 {
    color: #424242;
    font-size: 10px;
}

#color_C5E1A5 {
    color: #C5E1A5;
    font-size: 25px;
}

#color_311B92 {
	color: #311B92;
	font-size: 16px;
}

#color_F9AF44 {
    color: #F9AF44;
    font-size: 24px;
}

#color_3B5072 {
    color: #3B5072;
    font-size: 22px;
}

#color_99CCFF {
  color: #99CCFF;
  font-size: 69px;
}

#color_EF5350{
    color: #EF5350;
    font-size: 36px;
}

#color_E65100 {
    color: #E65100;
    font-size: 20px;
}

#color_F8E901 {
   color: #F8E901;
   font-size: 17px;
}

#color_42A5F5 {
    color: #42A5F5;
    font-size: 21px;
}    

#color_F9D100 {
    color: #F9D100;
    font-size: 40px;
}

#color_FF8300 {
	color: #FF8300;
	font-size: 16px;
}

#color_1665CC {
    color: #1665CC;
    font-size: 45px;
}

#color_64DD17 {
	color: #64DD17;
	font-size: 20px;
}

#color_B3B3B3 {
	color: #B3B3B3;
	font-size: 18px;
}

#color_ECB601 {
	color: #ECB601;
	font-size: 12px;
}

#color_67E08F {
    color: #67E08F;
    font-size: 31px;
}

#color_BA68C8 {
  color: #BA68C8;
  font-size: 10px;
}

#color_FF80AB {
    color: #FF80AB;
    font-size: 18px;
}

#color_1B5E20 {
    color: #1B5E20;
    font-size: 40px;
}

#color_DC143C {
    color: #DC143C;
    font-size: 16px;
}

#color_00FF00 {
    color: #00FF00;
    font-size: 24px;
}

@import url('https://fonts.googleapis.com/css?family=Rye');
#color_F4511E {
	color: #F4511E;
	font-size: 40px;
	font-family: "Rye", "Times New Roman", serif;
}

#color_76AF22 {
    color: #76AF22;
    font-size: 22px;
}

#color_F77B1C{
    color:#F77B1C;
    font-size: 33px;
}

#color_D50000 {
  color : #D50000;
  font-size : 50px;
}

#color_90A4AE {
    color: #90A4AE;
    font-size: 21px;
}

#color_7E08EA{
    color: #7e08ea;
    font-size: 38px;

}

